
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  aside {
      width: 15%;
      height: 100vh;
      background-color: #000;
      display: fixed;
      left: 0;
      top: 0;
  }

  aside img {
      width: 60%;
      margin: 20px;
  }
 
  footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100vw;
      height: 80px;
      background-color: #282828;
  }

  /* UTILITY */
  .uppercase {
      text-transform: uppercase;
  }