* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}
body > * {
    height: 200px;
}

header {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100vw - 200px);
    height: 80px;
    z-index: 2;
}
main {
    background-color:#141922;
    height: calc(100vh - 80px);
    display: flex;
    
}

aside {
    width: 200px;
    height: 100%;
    background-color: #000000;
}
div[class="app-content"] {
    width: calc(100% - 200px);
    overflow-y: auto;
}
footer {
    background: linear-gradient(to right bottom,
    rgba(40, 40, 40, 1),
    rgba(40, 40, 40, 0.9));
    height: 80px;
    width: 100vw;
    position: fixed;
    z-index: 2;
}

section {
    margin-bottom: 10px ;
    width: 100%;
    background-color: transparent;
}

.uppercase {
    text-transform: uppercase;
}
.container-flex {
    display: flex;
}

.banner-top {
    display: flex;
    justify-content: flex-end;
}
 .upgrade {
    height: 35px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    border: 2px solid #fff;
    background-color: #080B12;
    padding: 0px 22px;
    border-radius: 18px;
    margin-right: 20px;
    margin-top: 20px;
}
.upgrade:hover {
    background-color: #03c03c;  
    border: 2px solid #000;
    transition: ease 1s;
    cursor: pointer;
}
.sidebar {
    position: relative;
}
.sidebar section {
    padding-left: 15px;
}

.home {
    border-left: 3px solid  #03c03c;
}

.home a,.search a,.library a {
    color: #fff;
    text-decoration: none;
}
.home a:hover,.search a:hover,.library a:hover {
    text-decoration: underline;
}
.home span:hover,.search span:hover,.library span:hover {
    opacity: 1;
}
.logo {
    color: #fff;
    margin-top: 15px;
}
.logo img {
    width: 40%;
    color: #fff;
    display: inline-block;
    vertical-align: middle; 
}
.logo i {
    font-size: 30px;
    vertical-align: middle;
}
.home svg,.search svg ,.library svg {
    vertical-align: middle;
    transition: 1s;
    cursor: pointer;
}
.home span {
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
}
.search span,.library span {
    color: #fff;
    opacity: 0.5;
    font-size: 12px;
    vertical-align: middle;
    transition: 1s;
    cursor: pointer;
}
.new_playlist h5 {
    color: #fff;
    width: 80%;
    padding-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.new_playlist a {
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    font-size: 12px;
}
.new_playlist a:hover{
    opacity: 1;
}
.new_playlist i {
    color: #fff;
    opacity: 0.5;
    font-size: 35px;
    vertical-align: middle;
    padding-right: 5px;
}
.new_playlist i:hover {
    opacity: 1;
    cursor: pointer;
}
.new_playlist li {
    margin-bottom: 10px;
    list-style: none;
}
.sidebar {
    display: flex;
    flex-direction: column;
}
.icon_down {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.icon_down span,.icon_down i {
    font-size: 12px;
    color: #fff;
}
.install hr {
    width: 80%;
    margin-top: 5px;
}
.install span {
    opacity: 0.5;
}
.install span:hover {
    opacity: 1;
    cursor: pointer;
}
.user span {
    font-size: 15px;
}
.invisible {
    height: 80px;
}
#categorie .container-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#categorie ul {
    list-style: none;

}
#categorie li {
    margin: 5px 5px;
}
#categorie a {
    color: #fff;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 500;
    text-decoration-line: none;
}
#categorie a:hover {
    color: #03c03c;
    font-size: 11px;
    opacity: 1;
    font-weight: 500;
}
#categorie hr {
    width: 40%;
    display: block;
    margin: 0 auto;
    text-align: center;
    border-color: #03c03c;
}
#playlist {
    width: 100%;
}
#playlist .container-flex {
    flex-wrap: wrap;
    
}
 h3 {
    color: #fff;
    margin-top: 30px;
    padding-left: 10px;
}
.cards .container-flex {
    width: 100%;
    margin-top: 10px;
}
.cards h5 a:hover {
    text-decoration: underline;
}
.playlist {
    text-align: center;
    width: 150px;
    height: auto;
    margin:10px;
}
.cards .playlist .card img{
    width: 100%;
    height: 150px;
    margin-bottom: 10px;

}
}
.playlist_2  h3 {
    color: #fff;
    margin-top: 30px;
    padding-left: 10px;
}
.cards .playlist a,
.cards .playlist span{
    text-decoration: none;
    color: #fff;
    opacity: 1;
}
.cards .playlist span {
    font-size: 10px;
    opacity: 0.6;
}
.playlist_2 .container-flex{
    display: flex;
    flex-direction: column;
}
.playlist_2 span {
    color: #fff;
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.6;
    margin-top:8px ;
    margin-bottom: 10px;
}

.br-50 img{
    border-radius: 50%;
}
.br img {
    border-radius: 5px;
}


/* FOOTER */

footer .container-flex  {
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    
}

.card-album {
    display: flex;
    flex: 1 0 150px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.card-album img  {
    width: 50px;
}

.fa-heart, .fa-folder {
    color: #fff;
    opacity: 0.6;
    font-size: 15px;
   margin-left: 10px;
  
}
.footer h6 {
    margin-top: 5px;
    font-size: 10px;
    margin-left: 10px;
    
}
.footer span  {
    font-size: 9px;
    opacity: 0.6;
    margin-left: 10px;
}

.buttons_player {
    flex: 2 0 300px;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}
.buttons_player i {
    font-size: 20px;
    margin: 0 5px;
}
.card-album a {
    align-self: center;
}
.volume_player {
    flex: 1 0 150px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.volume_player a {
    color: #fff;
   margin-right: 10px;
   margin-top: 20px;
}
.progress_bar {
    width: 70%;
    height: 2px;
    background-color: #fff;
    margin-top: 8px;
}

.progress_bar div {
    width: 40%;
    height: 3px;
    background-color: #03c03c;
    opacity: 1;
}
.progress_2 div {
    width: 40%;
    height: 3px;
    background-color: #03c03c;
    opacity: 1;
}
.progress_2 {
    height: 2px;
    background-color: #fff;
    width: 25%;
    margin-right: 15px;
   margin-top: 30px;
}
.fa-play-circle {
    font-size: 30px;
}



/* MEDIA QUERIES */


@media all and (max-width: 576px) {
    .new_playlist {
        display: none;
    }
    .sidebar img {
        display: none;
    }
    .sidebar span {
        display: none;
    }
    aside {
        width: 50px;
    }
    div[class="app-content"] {
        width: calc(100% - 50px);
        overflow-y: auto;
    }
    header {
        background-color: rgba(0,0,0,0.5);
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100vw - 50px);
        height: 80px;
        z-index: 2;
    }
    .sidebar hr {
        display: none;
    }
    .sidebar .logo i {
        padding: 0;
    }
    .playlist {
        text-align: center;
        width: 110px;
        height: auto;
        margin:10px;
        justify-content: center;
    }
    .cards .playlist .card img{
        width: 100%;
        height: 110px;
        margin-bottom: 10px;
    }
    
    
    #playlist .container-flex {
        flex-wrap: wrap;
        justify-content: center;
    }
    .progress_2 {
        display: none;
    }
    .fa-volume-up {
        display: none;
    }
    .card-album h6,.card-album span {
        display: none;
    }
    
    .card-album {
        display: flex;
        flex: 1 0 50px;
        flex-wrap: wrap;
    }
    .card-album img {
        margin-top: 10px;
    }
    .buttons_player i {
        font-size: 18px;
        
    }
    .buttons_player {
        flex: 2 0 150px;
        display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
    }
    .volume_player {
        flex: 1 0 20px;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }
}